.fw-100{
    font-weight: 100 !important;
}
.fw-200{
    font-weight: 200 !important;
}
.fw-300{
    font-weight: 300 !important;
}
.fw-400{
    font-weight: 400 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800 !important;
}
.fw-900{
    font-weight: 900 !important;
}


.br-5{
    border-radius: 5px !important;
}

.br-10{
    border-radius: 10px !important;
}

.b-0{
    border: 0!important;
}

.br-15{
    border-radius: 15px !important;
}

.br-20{
    border-radius: 20px !important;
}
.br-25{
    border-radius: 25px !important;
}

.h-fit-content {
    height: fit-content !important;
}

.mh-100px{
    min-height: 500px !important;
}